.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin-top: 50px;
}

.register-form .register-container {
  background: var(--rtc-color-1);
  border-radius: var(--rtc-primary-br);
  max-width: 400px;
  padding: var(--rtc-padding-l);
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  color: var(--rtc-color-2);
  font-size: var(--rtc-font-m);
  margin-bottom: var(--rtc-margin-s);
}

p {
  color: var(--rtc-color-3);
  font-size: 14px;
  margin: 10px 0 20px;
}

p a {
  color: var(--rtc-color-2);
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

label {
  color: var(--rtc-color-2);
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 10px 0 5px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  border-color: var(--rtc-color-2);
  outline: none;
}

.hidden {
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .register-form .container {
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  input[type='text'],
  input[type='password'] {
    font-size: 0.9rem;
  }
}
