.main-button {
  background-color: var(--rtc-color-2);
  font-size: large;
  margin-top: 40px;
  width: 50%;
  color: var(--rtc-color-1);
  padding: 10px 15px;
  border: 2px solid var(--rtc-color-2);
  border-radius: var(--rtc-primary-br);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-button:hover {
  background-color: var(--rtc-color-1);
  color: var(--rtc-color-2);
  border: 2px solid var(--rtc-color-2);
  opacity: 100%;
}
