.create-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  padding: var(--rtc-padding-m);
  height: 100vh;
  width: 100%;
}

#createEventTitle {
  text-align: center;
  font-size: var(--rtc-font-l);
  color: var(--rtc-color-2);
}

#createEventText {
  text-align: center;
  font-size: var(--rtc-font-m);
  color: var(--rtc-color-3);
  margin-top: 5px;
}

#create-event-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  max-width: 500px;
  padding: var(--rtc-padding-s);
  margin-top: -30px;
}

label {
  font-weight: bold;
}

#title,
#location,
#description,
#date,
#time {
  border-radius: 10px;
  border: 2px solid var(--rtc-color-2);
}

#image {
  border: none;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--rtc-color-1);
  border-radius: 10px;
  border: none;
}

.upload-and-button {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.upload-and-button button {
  width: 70%;
  margin-top: 10px;
}

button {
  background-color: var(--rtc-color-2);
  font-size: var(--rtc-font-s);
  margin-top: 40px;
  width: 50%;
  color: var(--rtc-color-1);
  padding: 10px 15px;
  border: 2px solid var(--rtc-color-2);
  border-radius: var(--rtc-primary-br);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: var(--rtc-color-1);
  color: var(--rtc-color-2);
  border: 2px solid var(--rtc-color-2);
  opacity: 100%;
  cursor: pointer;
}

.success {
  color: var(--rtc-color-2);
  font-size: var(--rtc-font-m);
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .create-event-container {
    padding: var(--rtc-padding-s);
    height: 100%;
    margin-top: 100px;
  }

  #create-event-form {
    width: 90%;
  }

  button {
    width: 100%;
  }
}
